<?xml version='1.0' encoding='UTF-8'?>
<Server port="-1" shutdown="ZVKvX6duc1k1nacBScYJ">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <Listener className="org.apache.catalina.security.SecurityListener"
        checkedOsUsers="root" minimumUmask="0007" />

    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
            type="org.apache.catalina.UserDatabase"
            description="User database that can be updated and saved" 
            factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
            pathname="conf/tomcat-users.xml" />
    </GlobalNamingResources>

    <Service name="Catalina">
        <Connector port="{{ tomcat_port }}" protocol="HTTP/1.1" 
            connectionTimeout="20000" server="I Am A Teapot"
            maxHttpHeaderSize="8192"
            redirectPort="8443" />

        <Connector port="8443" protocol="HTTP/1.1" maxThreads="150"
            connectionTimeout="20000" server="I Am A Teapot"
            maxHttpHeaderSize="8192"
            scheme="https" secure="true" SSLEnabled="true" 
            SSLCertificateKeyFile="conf/localhost-rsa-key.pem"
            SSLCertificateFile="conf/localhost-rsa-cert.pem"
            SSLVerifyClient="optional" SSLProtocol="TLSv1.2+TLSv1.3" />

        <Engine name="Catalina" defaultHost="localhost">

            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                    resourceName="UserDatabase" />
            </Realm>

            <Host name="localhost" appBase="{{ tomcat_home_path }}/webapps"
                unpackWARs="true" autoDeploy="false">
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                    directory="logs" prefix="localhost_access" suffix=".log"
                    fileDateFormat="yyyy-MM-dd.HH"
                    requestAttributesEnabled="true" showServerInfo="false"
                    pattern='%t %U %a %A %m %p %R %q %s' />
            </Host>

            <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="logs" prefix="access" suffix=".log" 
                fileDateFormat="yyyy-MM-dd.HH"
                requestAttributesEnabled="true" showServerInfo="false" 
                pattern='%t %U %a %A %m %p %R %q %s' />
        </Engine>
    </Service>
</Server>